.navlink{
padding: 50px;
display: flex;
gap: 60px;
font-size: 15px;
}
h1 {
    padding-left: 30px;
}
.detail p{
    padding: 20px;
    font-size: 15px;
}
.mobile-collage img,.mobile3 img{
width:400px;
}
.text1{
    font-size: 12px;
}
.text2 p{
    padding: 1px;
    font-size: 15px;
   
}
.counting{ font-size: 20px;}

.contact h2{
     font-size: 20px;
}