 *{
  padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    max-width: 1400px;
 position: relative;
    
}
/* nav */
nav{
width: 100%;
height: 70px;
background-color: black;
color: white;
position: fixed;
z-index:2000;
display: flex;
justify-content:space-between;
align-items: center;
font-size: large;

}
.logo{
    font-size: 30px;
    font-weight: bold;
    padding-left: 40px;

}
.menubar{
    display: none;
    font-size: 40px;
    padding: 30px;
}

.navlink{
padding: 50px;
display: flex;
gap: 160px;
font-size: 15px;
}
a{
    color: white;
    text-decoration: none;
}

/* nav */

.home{
    background-image: url(./black.home.avif);
    background-repeat: no-repeat;
     background-size: cover;        
     background-position: center;
     width: 100vw;
     height: 100vh;
     display: flex;
     justify-content:space-between;

}
.dtail{
margin-top: 100px;
flex-wrap: wrap;}
h1{
    padding-top: 20px;
    padding-left: 50px;
}
.dtail p,.text2 p{
  padding: 40px;
    font-size: 20px;
}

button{
    border-radius: 8px;
    padding:12px 28px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left:30px;
    border: 2px solid rgb(9, 234, 61);
    background-color:transparent;
    cursor: pointer;
    background: transparent;
}

button :hover{ 

    background: rgb(93, 251, 93);
    color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; ;
}
.btn{
    background-color: transparent;
    color: rgb(8, 241, 8);
}
.discover{
    background-color: green;
    color:white;
}
.logo-transition{
    padding-top: 100px;
    /* animation apply */
    animation: moveupdown 2s ease-in-out infinite;}

    @keyframes moveupdown {
        0%{
             transform:translateY(0);
        }
        50%{
            transform:translateY(-40px);
        }
        100%{
            transform:translateY(0)
        }
    }
 .shadow{
        width: 300px;
        height: 20px;
        background-color: black;
    border-radius: 50%; 
    margin: -30px auto;
    filter: blur(5px); 
    animation: shadowMove 3s ease-in-out infinite;
}

@keyframes shadowMove {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.7); 
        opacity: 0.4; 
    }
    } 
/* home */

   /* heeading1 */
  .heading01{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
  } 
  .heading1-para{
     justify-content: center;
    text-align: center;
    font-size: 20px;
    padding: 0;
  }
  /* heading1 */
  /* section1 */

  .section1,.section2{
     width: 100%;
display: flex;
justify-content:space-between;


}
  .mobile-collage,.mobile3{
margin: 40px;
  }
  .text1{
    flex-wrap: wrap;
    margin: 40px; 
  }
  .text1 p{
    padding: 10px;
    color:rgb(102, 100, 100); ;
  }
  /* section1 end */
  /* section2 start */

.text2{
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 10px;
}
/* sectio2 end */
/* section3start */
.section3{
   background-image: url(./686872.jpg);
    background-repeat: no-repeat;
     background-size: cover;         
 background-attachment: fixed;
  width: 100%;
  padding: 50px;
  font-size: 30px;
 
}
.text3 h1,.text3 p{
    display: flex;
 justify-content: center;
 text-align: center;
 margin: 30px;
flex-wrap: wrap;

}
.counting{
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
  padding: 100px;
}
.counting p,.counting b{
    display: block;
    text-align: center;
}


/* section 3 end */
/* section 4  start*/
.section4{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px;
    flex-wrap: wrap;
}
.section4 h1{
    font-size: 50px;
}
.section4 p{
    padding: 50px;
    font-size: 30px;
}
/* section4 end */

/* gallery start  */
.gallery{
    min-height: 700px;
    width: 100%;
    font-family: "Poppins",sans-serif ;
}
.gallery h2{
    text-align: center;
    padding: 2em;
    font-size:40px;
    color: rgb(228, 232, 228);
    text-transform: uppercase;

}
.gallery h2 i{
    color: #070404;
  
}
.gallery .imges{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    
  
}
.gallery .imges img{
    width: 180px;
    height: 180px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    border: 10px solid black;
    transition: all 0.3s ease-in-out;
}

.gallery .imges img:hover{
    transform: scale(1.1);
    z-index: 1;
}

/* gallery end */
/* contact start */
.contact{
    min-height: 600px;
    width: 100%;
    background: linear-gradient(135deg, #2B2B2B 0%, #3A2F2A 50%, rgb(19, 65, 19) 100%);
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    
}
.contact .form, .contact .contact-us{
   padding: 2em;
    min-height: 500px;
    width: 48%;
}
.contact .form{
    background-color: #000000;
    color: white;
    text-align: center;


}
.contact h2{
    text-align: center;
    font-weight: lighter;
    word-spacing: 3px;
}
.contact .form input, .contact .form textarea{
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(185, 176, 176);
    margin: 2em;
    width: 70%;
    color: white;
    font-size: 18px;
    
}
.contact .contact-us{
    background-color: white;
   
}

.contact .contact-us span {
  color: black;
  font-weight: bold;
}
.contact .contact-us p {
  font-size: small;
  color: rgb(135, 133, 133);
  padding: 1.6em;
  line-height: 18px;
}

.contact .contact-us .d {
  display: flex;
  align-items: center;
  gap: 2%;
}
.contact .contact-us .d p {
  font-size: smaller;
}
.contact .contact-us .d i {
  padding: 0 0.5em;
}
.contact .contact-us .d b {
  font-size: 1em;
}
/* contact end */

/* footer start */
.footer{
    background-color: black;
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: white;
    padding: 2em;
}
.footer h3{
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}
.footer .box a{
    display: block;
    padding: 1.4em 0;
    color: white;
    font-size: 18px;
    transition: all 2s ease-in-out;
  
}
.footer .box i{
    color:rgb(11, 240, 11);
    font-size: 18px;
}
.footer .box a:hover i {
     padding-right: 2em;
}
footer span{
    color: rgb(26, 234, 26);
}